<!DOCTYPE html>
<html>

<head>
    <title>Marks Form</title>
</head>

<body>

    <h2>Enter 5 Subject Marks</h2>

    <form action="/getresult" method="POST">

        <input type="number" name="sub1" placeholder="Subject 1" required>
        <input type="number" name="sub2" placeholder="Subject 2" required>
        <input type="number" name="sub3" placeholder="Subject 3" required>
        <input type="number" name="sub4" placeholder="Subject 4" required>
        <input type="number" name="sub5" placeholder="Subject 5" required>

        <br><br>

        <button type="submit">
            Submit
        </button>

    </form>

</body>

</html>